# Extract PDB interactions

In [1]:
from kmtools import structure_tools

In [2]:
s = structure_tools.fetch_structure('4dkl', pdb_type='cif')

In [3]:
structure_tools.process_structure(s)

In [4]:
df = structure_tools.get_interactions(s)

In [5]:
df

,structure_id,model_id_1,model_id_2,chain_id_1,chain_id_2,residue_id_1,residue_id_2,residue_name_1,residue_name_2,residue_aa_1,residue_aa_2
0,4dkl,0,0,A,A,0,0,MET,MET,M,M
1,4dkl,0,0,A,A,0,1,MET,VAL,M,V
2,4dkl,0,0,A,A,0,2,MET,THR,M,T
3,4dkl,0,0,A,A,0,3,MET,ALA,M,A
4,4dkl,0,0,A,A,0,4,MET,ILE,M,I
5,4dkl,0,0,A,A,1,0,VAL,MET,V,M
6,4dkl,0,0,A,A,1,1,VAL,VAL,V,V
7,4dkl,0,0,A,A,1,2,VAL,THR,V,T
8,4dkl,0,0,A,A,1,3,VAL,ALA,V,A
9,4dkl,0,0,A,A,1,4,VAL,ILE,V,I
10,4dkl,0,0,A,A,1,5,VAL,THR,V,T
11,4dkl,0,0,A,A,1,6,VAL,ILE,V,I
12,4dkl,0,0,A,A,2,0,THR,MET,T,M
13,4dkl,0,0,A,A,2,1,THR,VAL,T,V
14,4dkl,0,0,A,A,2,2,THR,THR,T,T
15,4dkl,0,0,A,A,2,3,THR,ALA,T,A
16,4dkl,0,0,A,A,2,4,THR,ILE,T,I
17,4dkl,0,0,A,A,2,5,THR,THR,T,T
18,4dkl,0,0,A,A,2,6,THR,ILE,T,I
19,4dkl,0,0,A,A,2,7,THR,MET,T,M
20,4dkl,0,0,A,A,3,0,ALA,MET,A,M
21,4dkl,0,0,A,A,3,1,ALA,VAL,A,V
22,4dkl,0,0,A,A,3,2,ALA,THR,A,T
23,4dkl,0,0,A,A,3,3,ALA,ALA,A,A
24,4dkl,0,0,A,A,3,4,ALA,ILE,A,I
25,4dkl,0,0,A,A,3,5,ALA,THR,A,T
26,4dkl,0,0,A,A,3,6,ALA,ILE,A,I
27,4dkl,0,0,A,A,3,7,ALA,MET,A,M
28,4dkl,0,0,A,A,3,63,ALA,TYR,A,Y
29,4dkl,0,0,A,A,3,64,ALA,LEU,A,L
...,...,...,...,...,...,...,...,...,...,...,...
5194,4dkl,1,0,A,A,14,51,MPG,LEU,None,L
5195,4dkl,1,0,A,A,14,120,MPG,LYS,None,K
5196,4dkl,1,0,A,A,14,123,MPG,ASN,None,N
5197,4dkl,1,0,A,A,14,124,MPG,VAL,None,V
5198,4dkl,1,0,A,A,14,127,MPG,TRP,None,W
5199,4dkl,1,0,A,A,15,7,MPG,MET,None,M
5200,4dkl,1,0,A,A,15,8,MPG,ALA,None,A
5201,4dkl,1,0,A,A,15,10,MPG,TYR,None,Y
5202,4dkl,1,0,A,A,15,11,MPG,SER,None,S
5203,4dkl,1,0,A,A,15,14,MPG,CYS,None,C
5204,4dkl,1,0,A,A,15,18,MPG,LEU,None,L
5205,4dkl,1,0,A,A,15,56,MPG,LEU,None,L
5206,4dkl,1,0,A,A,15,57,MPG,PRO,None,P
5207,4dkl,1,0,A,A,15,60,MPG,SER,None,S
5208,4dkl,1,0,A,A,16,161,1PE,TRP,None,W
5209,4dkl,1,0,A,A,16,165,1PE,ASN,None,N
5210,4dkl,1,0,A,A,16,392,1PE,LYS,None,K
5211,4dkl,1,0,A,A,16,393,1PE,ALA,None,A
5212,4dkl,1,0,A,A,16,394,1PE,LEU,None,L
5213,4dkl,1,0,A,A,16,395,1PE,ILE,None,I
5214,4dkl,1,0,A,A,16,396,1PE,THR,None,T
5215,4dkl,1,0,A,A,17,196,CL,SER,None,S
5216,4dkl,1,0,A,A,17,359,CL,GLU,None,E
5217,4dkl,1,0,A,A,17,360,CL,LYS,None,K
5218,4dkl,1,1,A,A,0,0,BF0,BF0,None,None
5219,4dkl,1,1,A,A,13,13,CLR,CLR,None,None
5220,4dkl,1,1,A,A,14,14,MPG,MPG,None,None
5221,4dkl,1,1,A,A,15,15,MPG,MPG,None,None
5222,4dkl,1,1,A,A,16,16,1PE,1PE,None,None
5223,4dkl,1,1,A,A,17,17,CL,CL,None,None